header {
display: flex;
flex-direction: columns;
justify-content: center;
	div.header-logo {
		img {
      width: 30px;
      height: auto;
		}
	}

	div.header-finder {

		input {

		}
	}

	div.header-category {

		input {

		}
	}

	div.header-rating {

		input {

		}
	}

	div.header-price {

		input {

		}
	}
}
