<div class="pager">
  <button (click)="decrease()" [disabled]="page === 1">&lt;</button>
  <span>{{ page }} / {{ totalPages }}</span>
  <button (click)="increase()" [disabled]="page === totalPages">&gt;</button>
</div>
<section class="articles">
  @for (hotel of displayedHotels; track hotel.id) {
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="{{ hotel.image }}" alt="foto" />
        </figure>
        <div class="article-body">
          <h2>{{ hotel.name }}</h2>
          <p><span>Address:</span> {{ hotel.address }}</p>
          <p><span>Stars:</span> {{ hotel.stars }}⭐</p>
          <p><span>Rate:</span> {{ hotel.rate }}</p>
          <p><span>Price:</span> {{ hotel.price }}</p>
          <div class="article-btnbox">
            <button class="read-more">Read more</button>
          </div>
        </div>
      </div>
    </article>
  }
</section>
<div class="pager">
  <button (click)="decrease()" [disabled]="page === 1">&lt;</button>
  <span>{{ page }} / {{ totalPages }}</span>
  <button (click)="increase()" [disabled]="page === totalPages">&gt;</button>
</div>
