section.articles {
  display: grid;
  max-width: 100%;
  padding: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;

  article {
    --img-scale: 1.001;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;

    &:has(:hover, :focus) {
      --img-scale: 1.1;
      --title-color: var(--c-secondary);
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }

    div.article-wrapper {

      figure {
        margin: 0;
        padding: 0;
        aspect-ratio: 16 / 9;
        overflow: hidden;

        img {
          max-width: 100%;
          transform-origin: center;
          transform: scale(var(--img-scale));
          transition: transform 0.4s ease-in-out;
        }

      }

      div.article-body {
        padding: 24px;

        h2 {
          margin: 0 0 18px 0;
          font-size: 1.9rem;
          letter-spacing: 0.06em;
          color: var(--title-color);
          transition: color 0.3s ease-out;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        p {
          span {
            font-weight: 600;
          }
        }

        div.article-btnbox {
          display: flex;
          justify-content: center;

          button.read-more {
            background-color: var(--c-primary2);
            color: var(--c-white);
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            font-size: 1em;

            &:hover {
              background-color: var(--c-tertiary);
              color: var(--c-primary2);
            }
          }
        }
      }
    }
  }
}
