:root {
  --c-primary: #2C3673;
  --c-secundary: #F28749;
  --c-primary2: #2D3E73;
  --c-secundary2: #F2784B;
  --c-white: #fff;
  --c-gray: #ccc;
  --c-gray2: gray;
  --c-black: #000;
}

body {
  margin: 0px;
}

*{
  box-sizing: border-box;
}
